*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #222222;
    color: white;
    /*font-family: Poppins;
    font-size: 14px;
    font-weight: 200;*/
    font: 200 14px 'Poppins';
}

nav{
    text-align:center;
    background-color: black;
    height: 55px;
}

h2{
    font-size: 36px;
    line-height: 36px;
}

h3{
    color: #8D8D8D;
    font-size: 18px;
    font-weight: 300;
}

p{
    text-align: justify;
}

ul{
    list-style-type: none;
}

nav ul{
    display: inline-block;
}

nav ul li{
    padding-top: 12px;
    padding-right: 20px;
}

li{
    float: left;
    margin-right: 5px;
}

section input{
    border-radius: 15px;
    border: 0;
}

#botonSobreMi{
    background-color: #F7C40D;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
    height: 50px;
    width: 150px;
}

#logoLuis{
    padding-top: 0px;
}

.hashtag{
    color: #F7C40D;
}

#skills{
    background-color: white;
    color: #8D8D8D;
    padding-top: 20px;
}

#contactar{
    background-color: #F7C40D;
}

#portafolio
{
    border-top: solid #F7C40D 1px;
}

.tituloSubtitulo{
    text-align: center;
}

.seccion
{
    padding: 10px 100px 10px 100px;
    /*padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-top: 10px;*/
}

#inicio{
    background-image: url("../imagenes/inicio.png");
    min-height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
}

a:any-link{
    color:white;
    text-decoration: none;
}

a:hover{
    color: #F7C40D;
}

#listaLogos{
    margin-top: 100px;
}

.logos{
    width: 40px;
    margin-right: 15px;
}

#imagenFoto{
    float: left;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: black;
}

#sobreMi
{
    display: inline-block;
}

#tituloSobreMi
{
    padding-top: 20px;
    padding-bottom: 40px;
}

#parrafoSobreMi{
    padding-bottom: 40px;
}

.sep{
    border-top: solid #F7C40D;
}

.carta{
    width: 250px;
    background-color: #191919;
    border-radius: 15px;
}

.carta img{
    border-radius: 15px 15px 0 0;
}

.carta h3{
    color: #F7C40D;
}

.carta h4{
    margin: 0 5px 5px 0;
}

.carta .masInformacion{
    margin: 15px 0 15px 0;
    height: 26px;
}

.carta .masInformacion input{ 
    background-color: #F7C40D;
    font-weight: 600;
    padding-left: 15px;
    padding-right: 15px;
    float: right;
}

.carta input{
    padding: 5px;
    margin-top: 5px;
}

.carta h3, .carta h4, .carta p, .carta .masInformacion{
    padding: 0 15px;
}

#filaPortafolio{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 30px;
}

#h2Portafolio{
    margin-top: 20px;
    margin-bottom: 5px;
}

#h3Portafolio{
    margin-bottom: 25px;
}

#tituloExperiencia{
    color: #222222;
}

.tituloSubtituloExperiencia{
    text-align: center;
}

.cartaExperiencia{
    background-color: #222222;
    border-radius: 15px;
    padding: 10px 15px;
    color: white;
}

.cartaExperiencia h2{
    margin-bottom: 5px;
}

.cartaExperiencia h3{
    margin-bottom: 20px;
}

.cartaExperiencia p{
    margin-bottom: 20px;
}

.cartaExperiencia ul{
    display: flex;
    justify-content: flex-end;
}

.cartaExperiencia il{
    height: 30px;
}

#containerExperiencia{
    margin-top:20px;
    margin-bottom: 20px;
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr;*/
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}

footer{
    display: flex;
    justify-content: center;
    gap: 20px;
}

footer p{
    margin-top: 15px;
}

#h2Contacto{
    color: black;
}

label{
    color: black;
    font-weight: 600;
    margin-left: 480px;
}

textarea{
    border-radius: 15px;
    border: 0px;
    margin-left: 4px;
}

#nombreForm{
    margin-left: 5px;
    padding-left: 68px;
}

#empresaForm{
    padding-left: 67px;
}

#emailForm{
    margin-left: 25px;
    margin-bottom: 5px;
    padding-left: 67px;
}

#botonEnviar{
    margin-left: 695px;
    background-color:#222222;
    color: white;
    padding: 10px 20px 10px 20px;
}