*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #222222;
    color: white;
    /*font-family: Poppins;
    font-size: 14px;
    font-weight: 200;*/
    font: 200 14px 'Poppins';
}

nav{
    text-align:center;
    background-color: black;
    height: 55px;
}

h2{
    font-size: 36px;
    line-height: 36px;
}

h3{
    color: #8D8D8D;
    font-size: 18px;
    font-weight: 300;
}

p{
    text-align: justify;
}

ul{
    list-style-type: none;
}

nav ul{
    display: inline-block;
}

nav ul li{
    padding-top: 12px;
    padding-right: 20px;
}

li{
    float: left;
    margin-right: 5px;
}

input{
    border-radius: 15px;
    background-color: #F7C40D;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    width: 150px;
    border: 0px;
}

#logoLuis{
    padding-top: 0px;
}

.hashtag{
    color: #F7C40D;
}

#skills{
    background-color: white;
    color: #8D8D8D;
}

#contactar{
    background-color: #F7C40D;
}

#portafolio
{
    border-top: solid #F7C40D 1px;
}

.seccion
{
    padding: 10px 100px 10px 100px;
    /*padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 10px;
    padding-top: 10px;*/
}

#inicio{
    background-image: url("../imagenes/inicio.png");
    min-height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
}

a:any-link{
    color:white;
    text-decoration: none;
}

a:hover{
    color: #F7C40D;
}

#listaLogos{
    margin-top: 100px;
}

.logos{
    width: 40px;
    margin-right: 15px;
}

#fotoLuis{
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 100px;
    float: left;
    background-color: black;
}

#sobreMi{
    display: inline-block;
}

#textoSobreMi
{
    padding-top: 25px;
    padding-bottom: 25px;
}

#parrafoSobreMi{
    padding-bottom: 65px;
}
